{% extends 'base.html' %}

{% block content %}



<div class="col-md-6 offset-md-3">
  <h1>Запись заказа</h1>
  <br>

  <div class="card">
      <div class="card-header">
        <strong>{{ order.product_name }}</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"><strong>Цвет: </strong>{{ order.color }}</p>
          <p class="card-text"><strong>Производитель: </strong>{{ order.producer }}</p>
          <p class="card-text"><strong>Цена: </strong>{{ order.price }}</p>
          <p class="card-text"><strong>Наценка: </strong>{{ order.margin }}</p>
          <p class="card-text"><strong>Имя клиента: </strong>{{ order.client_name }}</p>
          <p class="card-text"><strong>Id: </strong>{{ order.id }}</p>
          <p class="card-text"><strong>Дата добавления: </strong>{{ order.created_at }}</p>

        <br>
        <a class="btn btn-dark" href="{% url 'order_list' %}">Назад</a>

        <a class="btn btn-primary" href="{% url 'update_order' order.id %}">Редактировать</a>

        <a onclick="return confirm('Вы уверены, что хотите удалить эту запись?')" class="btn btn-danger" href="{% url 'delete_order' order.id %}">Удалить</a>


      </div>
    </div>
</div>

        
{% endblock %}